<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Document</title>

</head>

<body>
<button id="boton" >Realizar peticion</button>

<div id ="caja"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
$("#boton").click(peticionAjax);	
});

function peticionAjax(){
	$.ajax({
	url:"/prueba/pruebaAjax",
	method:"Get",
	success:function(respuesta){
		alert("valores de respuesta del servidor:" + respuesta);
		//creamos la variable para el tbody por
		//del id
		var datosTabla=$("#datos");
		//console.log(respuesta);
		
		//for each ,iterando el arreglo
		//retornado como respuesta
		
		respuesta.forEach (items =>{
		//console.log(item);                                                                           	
			
		datosTabla.add("<tr>"
		+"<td>"+ item +"</td>"
		+"</tr>");
		});	
	},
	error:function (respuesta ){
	alert("Error no se puede procesar tu peticion")	
	},
	})
}

</script>
</body>
</html>