<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>erbgysd</title>
</head>

<body>
    <ol>
        <li>Leanne  Graham</li>
        <li>Ervin Howell</ul>
        <li>Clementine Bauch</li>
        <li>Patricia Lebsack</li>
        <li>Chelsey Dietrich</li>
        <li>Sra. Dennis Schulist</li>
        <li>Kurtis Weissnat</li>
        <li>Nicholas Runolfsdottir V</li>
        <li>Glenna Reichert</li>
        <li>Clementina DuBuque</li>

    </ol>
</body>

</html>